/* Exclusivamente iconos e imagenes de las cards */

.wiki-card-logo{
    width: 45px;
    height: 45px;

    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.wiki-card-logo img{
    width: 100%;
    height: 100%;

    object-fit: contain;
    display: block;

    transition: transform .2s ease;
}

.wiki-card-icon{
    width: 64px;
    height: 64px;

    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.wiki-card-icon img{
    width: 100%;
    height: 100%;

    object-fit: contain;
    display: block;

    transition: transform .2s ease;
}

.wiki-card:hover .wiki-card-icon img{
    transform: scale(1.04);
}

@media (max-width: 500px) {
    .wiki-card-icon {
        width: 58px;
        height: 58px;
    }

    .wiki-card-icon img {
        width: 46px;
        height: 46px;
    }
}
