/* Aun debo organizar todo aqui, pero un avance, by eri :3 */
.wiki-card{
    display: flex;
    align-items: center;
    gap: 20px;
}

.wiki-card-logo-sigma{
    display: flex;
    align-items: center;
    gap: 20px;
}

.wiki-card-icon{
    width: 64px;
    height: 64px;

    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.wiki-card-icon img{
    width: 100%;
    height: 100%;

    object-fit: contain;
    display: block;

    transition: transform .2s ease;
}

.wiki-card:hover .wiki-card-icon img{
    transform: scale(1.04);
}

.wiki-card-content{
    flex: 1;
    min-width: 0;
}

.wiki-card-logo{
    width: 45px;
    height: 45px;

    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.wiki-card-logo img{
    width: 100%;
    height: 100%;

    object-fit: contain;
    display: block;

    transition: transform .2s ease;
}

@media (max-width: 500px){
    main > h1{
        font-size: 28px;
    }

    .welcome{
        padding: 18px;
    }

    .welcome h2{
        font-size: 21px;
    }
}

@media (max-width: 500px) {
    .wiki-card {
        gap: 14px;
        padding: 16px;
    }

    .wiki-card-icon {
        width: 58px;
        height: 58px;
    }

    .wiki-card-icon img {
        width: 46px;
        height: 46px;
    }

    .wiki-card-content h3 {
        font-size: 18px;
    }
}