<!-- Changes Made By @Manymate1 -->

<!--

Components Styles:

css/style.css
css/layout.css

-->


<header class="header-logo">

        <a href="index.html" class="logo">
            <strong>OUTCOME</strong>
            <span>MEMORIES WIKI</span>
        </a>

    <!-- Fixed Nav-Bar -->

    <nav>

        <ul>

            <li>
                <a href="index.html" class="active">Home</a>
            </li>

            <li>
                <a href="survivors.html">Survivors</a>
            </li>

            <li>
                <a href="executioners.html">Executioners</a>
            </li>

            <li>
                <a href="maps.html">Maps</a>
            </li>

            <li>
                <a href="lore.html">Lore</a>
            </li>

            <li>
                <a href="abilities.html">Abilities</a>
            </li>

        </ul>

    </nav>

    </header>