<!-- Changes Made By @Manymate1 -->

<!--

Components Styles:

Frontend/css/style.css
Frontend/css/carousel.css

Scripts:

Frontend/scripts/img-carousel.js

-->

<div class="carousel" id="carousel">

            <!-- This title bar is optional, only for text

            <div class="carousel-bar">
                
                <a
                
                href=" Your Link " 
                
                target="_blank"
                
                >
                
                Your Text
            
                </a>
            
            </div>

            -->

            <!-- Carousel Images -->

            <div class="carousel-track" id="carouselTrack">

                <!-- Slide 1 -->

                <div class="carousel-slide">
                    
                    <img src="..."
                    
                    alt="...">

                </div>
